ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}
header {
  padding-left: 0 !important;
}
.logo {
  background-color: #ccc;
}
.logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.logo span {
  display: block;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.nav {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}
.nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 30px;
  color: #666;
  text-decoration: none;
}
.nav a:hover {
  background-color: #fff;
  text-decoration: none;
}
.nav a::before {
  vertical-align: middle;
  padding-right: 10px;
}
.news li {
  width: 25%;
  float: left;
  height: 128px;
  padding-right: 10px;
  margin-bottom: 10px;
}
.news li a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.news li a img {
  width: 100%;
  height: 100%;
}
.news li a p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
  margin-bottom: 0;
  padding: 5px 10px;
}
.news li:nth-child(1) {
  width: 50%;
  height: 266px;
}
.news li:nth-child(1) p {
  line-height: 41px;
  font-size: 20px;
  padding: 0 10px;
}
.publish {
  border-top: 1px solid #ccc;
}
.publish .row {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}
.publish img {
  width: 100%;
}
.banner img {
  width: 100%;
}
.hot {
  display: block;
  margin-top: 20px;
  padding: 0 20px 20px;
  border: 1px solid #ccc;
}
.hot span {
  border-radius: 0;
  margin-bottom: 20px;
}
.hot p {
  font-size: 12px;
}
